<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <img src="./assets/Images/logo.png" style="height:40px;width:40px" class="logo">
    <a class="navbar-brand" href="#">A Propos</a>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gestion Taches</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
              <li class="nav-item active">
                <a class="nav-link" routerLink="">Taches<i class="fa-solid fa-house-user"></i></a>
              </li>
              <!-- <li class="nav-item active">
                <a class="nav-link" routerLink="typeEvenement">Type Evenement<i class="fa-solid fa-house-user"></i></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="participant">Participant<i class="fa-solid fa-house-user"></i></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="fiche">fiche<i class="fa-solid fa-house-user"></i></a>
              </li> -->
              <!-- <li class="nav-item">
                <p class="nav-link" style="height:4px ;color:white">Connecté Depuis <i class="fa-solid fa-clock"></i> : {{secondes}} secondes </p>
              </li> -->
           </ul>
       </div>
    </div>
  </nav>
  